.action-button {
  background-color: #3040c4;
  color: #fff;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}

.top-section {
  background-color: #F3C6BD;
}
@media screen and (min-width: 1400px) {
  .top-section {
    background-color: #F3C6BD;
    padding-top: 39px;
  }
}

.header {
  height: 64px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
@media screen and (min-width: 1400px) {
  .header {
    width: 1140px;
    height: 62px;
    margin: auto;
    display: flex;
    background-color: transparent;
  }
}
.header-button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header-button {
    display: block;
  }
}
.header__menu-button {
  width: 58px;
  height: 100%;
  border: none;
  border-left: 1px solid #00000026;
  background-color: transparent;
  margin-left: auto;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 1400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-icon {
  display: inline-block;
  width: 18px;
  height: 13px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png");
}

.logo {
  display: flex;
  align-items: center;
}
.logo__image {
  width: 48px;
  height: 48px;
  margin-right: 13px;
}
@media screen and (min-width: 1400px) {
  .logo__image {
    width: 60px;
    height: 60px;
  }
}
.logo__name {
  line-height: 25px;
  font-size: 20px;
  font-weight: 700;
}
.logo__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .logo__description {
    font-size: 18px;
    line-height: 25px;
    color: #2b292d99;
    display: block;
  }
}

.navigation {
  display: none;
}
@media screen and (min-width: 1400px) {
  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
}
.navigation__item {
  color: #2D292D;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  margin-right: 50px;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__item .navigation__arrow {
  display: inline-block;
  height: 5px;
  width: 8px;
  margin-left: 11px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png");
}

.headline {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline {
    position: relative;
    width: 1140px;
    margin: auto;
    margin-top: 84px;
    display: flex;
    padding-bottom: 77px;
  }
}
.headline__content {
  margin: 35px 15px;
}
@media screen and (min-width: 1400px) {
  .headline__content {
    margin: 0;
    position: absolute;
    z-index: 1;
  }
}
.headline__title {
  margin: 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    width: 754px;
    height: 165px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
  }
}
.headline__description {
  font-size: 24px;
  line-height: 34px;
  margin-top: 24px;
}
@media screen and (min-width: 1400px) {
  .headline__description {
    margin-top: 34px;
    height: 102px;
    width: 456px;
  }
}
.headline__actions {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .headline__actions {
    margin-top: 58px;
    display: flex;
  }
}
.headline__learn__more-btn {
  background-color: #fff;
  color: #3040c4;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  outline: none;
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .headline__learn__more-btn {
    margin-left: 10px;
    margin-top: 0;
  }
}
.headline__banner {
  width: 100%;
  margin-bottom: 36px;
}
@media screen and (min-width: 1400px) {
  .headline__banner {
    position: relative;
    right: -105px;
    top: 0;
    width: 796px;
    height: 448px;
    margin-left: auto;
  }
}

@media screen and (max-width: 1399px) {
  .headline__actions-btn {
    width: 100%;
  }
}
.about {
  padding: 46px 15px 46px;
  background-color: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .about {
    display: flex;
    justify-content: space-between;
    padding: 77px 130px 76px;
  }
}

@media screen and (min-width: 1400px) {
  .article {
    width: 555px;
  }
}
.article:last-child {
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .article:last-child {
    margin-top: 0;
  }
}
.article__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}
.article__text {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  margin-top: 6px;
}

.customers {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
@media screen and (min-width: 1400px) {
  .customers {
    width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 30px 0 106px;
  }
}
.customers__row {
  display: flex;
  border-bottom: 1px solid #D3D3D3;
}
@media screen and (min-width: 1400px) {
  .customers__row {
    flex: 1;
    justify-content: space-around;
    border: none;
  }
}
.customers__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 94px;
  border-right: 1px solid #D3D3D3;
}
@media screen and (min-width: 1400px) {
  .customers__item {
    width: auto;
    border-right: none;
  }
}
.customers__item:last-child {
  border-right: none;
}
.customers__logo {
  max-width: 80%;
  filter: brightness(0);
}

.tips {
  margin-top: 8px;
}
@media screen and (min-width: 1400px) {
  .tips {
    display: none;
  }
}

.tip {
  padding: 40px 15px 0;
  border-bottom: 1px solid #E3E3E3;
}
.tip__subtitle {
  display: block;
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
}
.tip__title {
  display: block;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  margin: 0;
  margin-top: 17px;
}
.tip__description {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 13px;
}
.tip__figure {
  margin: 25px 0 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tip__image {
  max-width: 100%;
}
.tip__image-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
  margin-top: 20px;
}

.features {
  position: relative;
  padding-bottom: 103px;
}
@media screen and (max-width: 1399px) {
  .features {
    display: none;
  }
}
.features-container {
  width: 1140px;
  margin: auto;
  display: flex;
}
.features__column {
  width: 459px;
}
.features__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
  margin: 0;
}
.features__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-top: 24px;
  margin-bottom: 0;
}
.features__description {
  font-size: 24px;
  line-height: 34px;
  margin-top: 30px;
  margin-bottom: 0;
}
.features__advantage-header {
  margin-top: 42px;
  display: flex;
  align-items: center;
}
.features__advantage-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #3142C6;
  margin: 0;
  margin-left: 15px;
}
.features__advantage-description {
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 3px solid #3142C6;
}
.features__advantage-item {
  border-bottom: 1px solid #2B292D26;
  margin-top: 21px;
  padding-bottom: 22px;
  display: flex;
}
.features__advantage-item-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
}
.features__left-decoration {
  position: absolute;
  top: 258px;
}
.features__bunner {
  position: absolute;
  top: 5px;
  right: 0;
}

.inbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 15px;
  background-color: #fef9f4;
}
@media screen and (min-width: 1400px) {
  .inbox {
    flex-direction: row;
    padding: 0;
  }
}
.inbox__figure {
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .inbox__figure {
    margin: 142px 0 138px 193px;
    width: 100%;
  }
}
.inbox__illustration {
  max-width: 100%;
}
.inbox__image-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #807f81;
  display: none;
}
@media screen and (min-width: 1400px) {
  .inbox__image-caption {
    display: block;
    margin-top: 15px;
    width: 425px;
  }
}
@media screen and (min-width: 1400px) {
  .inbox__details {
    margin-left: 20px;
    margin-right: 99px;
  }
}
.inbox__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #F1592B;
  margin: 0;
  margin-top: 32px;
}
@media screen and (min-width: 1400px) {
  .inbox__subtitle {
    margin: 0;
    padding: 0 30px;
  }
}
.inbox__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  margin: 0;
  margin-top: 17px;
}
@media screen and (min-width: 1400px) {
  .inbox__title {
    margin: 0;
    margin-top: 24px;
    padding: 0 30px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
.inbox__text {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .inbox__text {
    margin-top: 30px;
    padding: 0 30px;
  }
}

.review {
  margin-top: 30px;
  padding: 30px 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #FFFFFF;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-bottom: 4px solid #0185D0;
}
@media screen and (min-width: 1400px) {
  .review {
    margin-top: 44px;
    padding: 30px;
    box-shadow: none;
    border-bottom: 1px solid #0185D0;
  }
}
.review-text {
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}
.review-text span {
  font-weight: 700;
}
.review-autor {
  display: flex;
  align-items: flex-start;
  margin-top: 26px;
}
.review-autor-text {
  margin-left: 11px;
}
.review-autor-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}
.review-autor-position {
  font-size: 16px;
  line-height: 22px;
  color: #aaa9ab;
  margin: 0;
}

.communication {
  padding: 50px 15px;
  background-color: #fff;
}
@media screen and (min-width: 1400px) {
  .communication {
    padding: 110px 130px;
  }
}
.communication__top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .communication__top-section {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1400px) {
  .communication__details {
    max-width: 461px;
  }
}
.communication__subtitle {
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  color: #0189D1;
  margin: 0;
}
.communication__title {
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
@media screen and (min-width: 1400px) {
  .communication__title {
    margin-top: 24px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}
.communication__text {
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .communication__text {
    margin-top: 30px;
  }
}
.communication__button {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .communication__button {
    margin-top: 40px;
  }
}
.communication__figure {
  margin: 0;
  margin-top: 40px;
}
.communication__illustration {
  max-width: 100%;
}
.communication__image-caption {
  margin-top: 17px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #807f81;
}
@media screen and (min-width: 1400px) {
  .communication__image-caption {
    margin-top: 15px;
  }
}
.communication__line {
  margin-top: 40px;
  width: 150px;
  height: 1px;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.1;
}
@media screen and (min-width: 1400px) {
  .communication__line {
    margin-top: 26px;
  }
}
.communication__bottom-section {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .communication__bottom-section {
    flex-direction: row;
    margin-top: 41px;
  }
}
.communication__bottom-section__block {
  margin-top: 33px;
}
@media screen and (min-width: 1400px) {
  .communication__bottom-section__block {
    margin-top: 0;
    margin-left: 30px;
  }
  .communication__bottom-section__block:first-child {
    margin-left: 0;
  }
}
.communication__bottom-section__block-text {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
}
.communication__bottom-section__block-text span {
  font-weight: 700;
}
.communication__bottom-section__block-link {
  display: block;
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.audience {
  padding: 50px 15px;
  background-color: #edf8fb;
  mix-blend-mode: normal;
}
@media screen and (min-width: 1400px) {
  .audience {
    padding: 110px 130px;
  }
}
@media screen and (min-width: 1400px) {
  .audience-top {
    width: 555px;
    margin: 0 auto;
  }
}
.audience__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
}
.audience__title {
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
}
@media screen and (min-width: 1400px) {
  .audience__title {
    font-size: 56px;
    line-height: 56px;
  }
}
.audience__text {
  margin: 0;
  font-size: 24px;
  line-height: 34px;
  margin-top: 18px;
  text-align: center;
}
.audience .headline__actions {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .audience .headline__actions {
    display: flex;
    justify-content: center;
  }
}
.audience__block {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .audience__block {
    flex-direction: row;
    justify-content: space-between;
  }
}
.audience__block-item {
  margin-top: 10px;
  padding: 22px 33px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #FFFFFF;
  background-blend-mode: overlay, normal;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
.audience__block-item:first-child {
  margin-top: 0;
}
.audience__block-item:hover {
  background-color: #3141C5;
}
.audience__block-item:hover .audience__image-caption {
  color: #fff;
}
@media screen and (min-width: 1400px) {
  .audience__block-item {
    min-width: 262px;
    margin-left: 30px;
  }
  .audience__block-item:first-child {
    margin-left: 0;
  }
}
.audience__figure {
  margin: 0 auto;
}
.audience__image {
  display: block;
  margin: 0 auto;
}
.audience__image-caption {
  margin-top: 22px;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}

.feedback {
  position: relative;
  padding: 40px 15px 50px;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
}
@media screen and (min-width: 1400px) {
  .feedback {
    padding: 0 0 66px;
  }
}
.feedback__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #3142c6;
}
@media screen and (min-width: 1400px) {
  .feedback__title {
    text-align: center;
  }
}
.feedback__text {
  margin: 0 auto;
  margin-top: 28px;
  font-size: 24px;
  line-height: 34px;
  text-align: left;
}
@media screen and (min-width: 1400px) {
  .feedback__text {
    width: 750px;
  }
}
.feedback__autor {
  margin: 0;
  margin-top: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
@media screen and (min-width: 1400px) {
  .feedback__autor {
    margin-top: 34px;
    text-align: center;
  }
}
.feedback__position {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #aaa9ab;
}
@media screen and (min-width: 1400px) {
  .feedback__position {
    text-align: center;
  }
}
.feedback__dots {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .feedback__dots {
    margin-top: 38px;
  }
}
.feedback__dots-item {
  width: 12px;
  height: 12px;
  background-color: #d5d4d5;
  border-radius: 50%;
  margin: 0 10px;
}
.feedback__dots-item-selected {
  background-color: #3142C5;
}
.feedback__image {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .feedback__image {
    position: absolute;
    bottom: 0;
    right: 26px;
  }
}

.hiring {
  padding: 50px 15px;
  background-color: #fff;
}
@media screen and (min-width: 1400px) {
  .hiring {
    padding: 110px 0;
  }
}
.hiring__block {
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .hiring__block {
    width: 750px;
    margin: 0 auto;
  }
}
.hiring__title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
}
.hiring__text {
  margin: 0 auto;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .hiring__text {
    width: 555px;
  }
}
.hiring__button {
  width: 100%;
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .hiring__button {
    width: 250px;
  }
}

.vacancy {
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .vacancy {
    width: 750px;
    margin: 110px auto 0;
  }
}
.vacancy__block {
  max-height: 140px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border: 1px solid rgba(43, 41, 45, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
}
.vacancy__block:first-child {
  margin-top: 0;
}
.vacancy__block:hover {
  background-color: #3141C5;
  box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.07), 0px 13px 18px rgba(0, 0, 0, 0.15);
}
.vacancy__block:hover .vacancy__name, .vacancy__block:hover .vacancy__city {
  color: #fff;
}
.vacancy__block:hover .vacancy__button {
  background-color: #3141C5;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right-white.png");
}
.vacancy__description {
  margin: 20px;
}
@media screen and (min-width: 1400px) {
  .vacancy__description {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
.vacancy__name {
  margin-top: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
@media screen and (min-width: 1400px) {
  .vacancy__name {
    margin: 0;
    width: 408px;
  }
}
.vacancy__city {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #aaa9ab;
}
@media screen and (min-width: 1400px) {
  .vacancy__city {
    background-color: transparent;
  }
}
.vacancy__button {
  max-height: 140px;
  width: 50px;
  background-color: #D5D4D5;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px 8px 8px 0px;
}
@media screen and (min-width: 1400px) {
  .vacancy__button {
    background-color: transparent;
  }
}

.order {
  padding: 50px 15px;
  background: #F4F5F7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .order {
    padding: 73px 0 72px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}
.order__details {
  max-width: 555px;
}
.order__illustration {
  display: block;
  max-width: 100%;
}
@media screen and (min-width: 1400px) {
  .order__illustration {
    width: 269px;
    margin-right: 121px;
  }
}
.order__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  margin-top: 40px;
}
.order__text {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  width: 100%;
  height: 48px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #2b292d33;
  box-sizing: border-box;
  border-radius: 2px;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .order__email {
    margin-top: 0;
  }
}
.order__email::placeholder {
  color: #2b292d;
}
.order__button {
  margin-top: 12px;
}
@media screen and (max-width: 1399px) {
  .order__button {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .order__button {
    margin-top: 0;
    margin-left: 10px;
    flex-shrink: 0;
  }
}
.order__terms {
  margin: 0;
  margin-top: 10px;
  font-size: 14px;
  line-height: 22px;
  color: #2b292d99;
}
.order__terms-link {
  color: #3142c6;
}

.footer__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .footer__description {
    line-height: 26px;
    font-size: 18px;
    width: 360px;
    margin-top: 26px;
    color: #2b292d99;
    display: block;
  }
}
.footer__line {
  display: none;
}
@media screen and (min-width: 1400px) {
  .footer__line {
    border-top: 1px solid #2B292D;
    width: 100%;
    opacity: 0.1;
    display: block;
  }
}
.footer-links {
  padding: 0 15px;
}
@media screen and (min-width: 1400px) {
  .footer-links {
    height: 50px;
    width: 1140px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer-links .terms {
  font-size: 14px;
}
.footer-links .terms__items {
  text-decoration: none;
  color: #2B292D;
  color: #2b292d99;
  margin-right: 22px;
}
.footer-links .social-links {
  margin-top: 30px;
  margin-bottom: 22px;
}
@media screen and (min-width: 1400px) {
  .footer-links .social-links {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.footer-links .social-links__item {
  text-decoration: none;
  margin-right: 20px;
}
.footer-links .social-links__item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 1400px) {
  .footer-navigation {
    width: 1140px;
    margin: 0 auto;
    height: 338px;
    display: flex;
  }
}

.about-company {
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .about-company {
    margin-top: 44px;
  }
}
.about-company .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .about-company .logo {
    flex-direction: row;
  }
}
.about-company .logo__text {
  text-align: center;
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .about-company .logo__text {
    text-align: left;
    margin-top: 0;
  }
}
.about-company .logo__image {
  margin-right: 0;
}
@media screen and (min-width: 1400px) {
  .about-company .logo__image {
    margin-right: 13px;
  }
}
.about-company .logo__description {
  display: block;
  color: #2b292d99;
}
.about-company .downloads {
  display: flex;
  justify-content: center;
  margin-top: 31px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1400px) {
  .about-company .downloads {
    margin-top: 25px;
    margin-bottom: 0;
  }
}
.about-company .downloads__item:first-child {
  margin-right: 10px;
}

.additional-navigation {
  padding: 30px 15px;
  border-top: 1px solid #e3e3e3;
}
@media screen and (min-width: 1400px) {
  .additional-navigation {
    margin-top: 60px;
    margin-left: auto;
    display: flex;
    border-top: none;
    padding: 0;
  }
}
.additional-navigation__column {
  margin-bottom: 30px;
}
@media screen and (min-width: 1400px) {
  .additional-navigation__column {
    margin-right: 29px;
    margin-bottom: 0;
  }
}
.additional-navigation .nav-links {
  width: 265px;
}
.additional-navigation .nav-links__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  margin: 0;
}
.additional-navigation .nav-links__list {
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  color: #2b292d99;
  padding: 0;
  margin: 0;
  margin-top: 18px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2B292D;
}

.page {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .page {
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
