$text-color-green: #009b4d;
$color-text-opacity: #aaa9ab;
$color-text-opacity-01: #e6e6e6;
$color-text-caption: #807f81;
$text-color-light-grey: #2b292d99;
$text-color-blue: #3142c6;
$color-dark: #2b292d;
$border-color: #2b292d33;
$bg-color-inbox: #fef9f4;
$color-subtitle: #F1592B;
